<html>
<head>
</head>
<body>
<%= form_for([:admin, @video], :html => {:multipart =>true}) do |f|%>
<% if @video.errors.any? %>
<div id ="errorExplanation">
<h2> <%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
<ul>
<% @video.errors.full_messages.each do |msg|%>
<li><%=  msg %></li>
<% end %>
</ul>           
</div>
<% end %>
<div class= "field">
<h3>视频名称</h3>
<p id="text"><%= f.text_field :name%></p>
<p id="avatar"><%= f.file_field :avatar %></p>
<p id="avatar_cache"><%= f.hidden_field :avatar_cache %></p>
</div>      
<div class="actions">
<%= f.submit %>
</div>
<% end %>
</body</html>
