<%= form_for([:admin, @video], :html => {:multipart =>true}) do |f|%>
<% if @video.errors.any? %>
<div id ="errorExplanation">
<h2> <%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
<ul>
<% @video.errors.full_messages.each do |msg|%>
<li><%=  msg %></li>
<% end %>
</ul>           
</div>
<% end %>
<div class= "field">
<p class="videoname_head">
视频名称:
</p>
<p class="videoname">
<%= f.text_field :name %>
</p>
<p class="file_field">
<%= f.file_field :avatar %>
<%= f.hidden_field :avatar_cache %>
</p> 
</div>      
<div class="actions">
<p><%= f.submit"保存"%></p>
</div>
<% end %>
