<html>
<head>
</head>
<body>
<h1>Video List<img src="<%= asset_path 'logo.png' %>"/></h1>
<h3>Name</h3>
<ul class="name_list">
<%  @videos.each do |video| %>
<li class="name_list_li"><%= video.name %></li>
<span> <%= link_to "show", admin_video_path(video)%></span>&nbsp|&nbsp 
<span> <%= link_to'edit', edit_admin_video_path(video )%></span> &nbsp|&nbsp 
<span> <%= link_to 'destroy', admin_video_path(video), :confirm => 'Are you sure?',
                                                                                                 :method => :delete %></span><br /><br />
<% end %>
</ul>
<a  href="<%= new_admin_video_path %>">upload new video</a>
<br />
<br />
<%= will_paginate @videos,:previous_label => '上一页', :next_label => '下一页' %>
<div id="footer"><span>Copyright &nbsp © &nbsp 壹旅游 2011-2012</span></div>
</body>








