<div id="content">
<ul>
<% @videos.each do |video| %>
<li><%= video.name %>
<span id="destory"> <%= link_to"删除", admin_video_path(video), 
                         :confirm => 'Are you sure?',
                         :method => :delete %></span>&nbsp &nbsp
<span id="edit"> <%= link_to"编辑", edit_admin_video_path(video )%></span>&nbsp &nbsp
<span id="show"> <%= link_to"播放", admin_video_path(video)%></span>

</li>                 
<% end %>
</ul>
</div>
<div class="up_loader">
<a href="<%= new_admin_video_path %>">上传视频</a>
</div>
<div class="pag_info_will_pag">
<div id="will_paginate">
<%= will_paginate @videos,:page_links => false   %>
</div>
<div class="page_info">
<%= page_entries_info @videos %>
</div>
</div>









