<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Playvideo1</title>
<%= stylesheet_link_tag    "admin/application", :media => "all" %>
<%= javascript_include_tag "admin/application" %>
<%= csrf_meta_tags %>
<%= yield :scripts %>
</head>
<body>
<%= flash[ :notice ] %>
<div id="header" class="clearfix">
<h1><%= link_to '壹旅游', videos_path %></h1>
<img class="Subtitle" src="<%= asset_path 'video.jpg' %>" alt="video" title="video" />
</div>
<%= yield %>
<div id="footer"><span>Copyright &nbsp © &nbsp 壹旅游 2011-2012</span></div>
</body>
</html>
